/* style.css */

/* Globals */

html {
  box-sizing: border-box;
  margin: 0 10%;
background-image: url("images/wood_background.jpg");
}

body {
  background-color: #1a0d00;
}

*{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a{
	text-decoration: none; 
}

li {
	list-style: none;
}

article, section, header, footer {
	background-color: white;
}

article header {
	border-top: 3px solid #DDDDDD;
	border-bottom: 3px solid #DDDDDD;
}

article header h2{
	font-size: 1em;
	text-transform: uppercase;
}

article header a{
	color: #A48B48;
	text-decoration: none;
}

section figure img{
	max-width: 100%;
}

article figure figcaption{
	background-color: white;
}

article img{
	display: block;
	max-width: 100%;
}

article figure:nth-child(3) {
	width: 50%;
	float: left;
}
	
article figure:nth-child(4) {
	width: 50%;
	float: left;
}

article figure:nth-child(5) {
	width: 50%;
	float: left;
}

section {
	clear: both;
}
